# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Secrets and env files
.env
.env.*

# Local databases
*.sqlite3
*.db

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Langchain cache/data
langchain/
.cache_langchain/
